body {
    background-color: #E6FFEE;
}

nav {
    position: fixed;
    background-color: #7DB390;
    text-align: right;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 24px;
    padding-right: 15px;
    z-index: 99;
}

.links {
    display: inline;
    font-family: 'Julius Sans One', sans-serif;
    color: black; 
    font-weight: bold;
    font-size: 20px;
    padding-right: 15px;
}

.home:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

a:hover {
    color: #FFFFFF;
}

a:visited {
    font-style: italic;
}

main {
    margin-bottom: 100px;
    flex-direction: row;
}

img {
   
    height: 20%;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 110px;
    border-radius: 50%;
    border: solid 1px;
    margin-right: 110px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#hero {
    text-align: center;
    background-color: #7DB390;
    border: solid 1px black;
    width:500px;
    height: 150px;
    border-radius: 10px 30px 10px 30px;
    margin-bottom: 0;
    margin-top: 110px;
    margin-left: 100px;
    background-clip: padding-box;
}

#headline {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 27px 0px 10px 10px;
    margin: auto;
    
   
}

#subtitle {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuItems {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 50px;
    border: black solid 1px;
    border-radius: 50%;
    background-color: #7DB390;
    color: black;
}

.menuLinks {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    padding-top: 93px;
}

.menuItems:hover {
     color: #FFFFFF;
     cursor: pointer;
     border: white solid 1px;
}

#resume {
    margin-bottom: 95px;
}

footer {
    text-align: center;
    background-color: #7DB390;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}


.titles {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}



p span {
    padding-left: 50px;
    padding-right: 50px;
}

/*Begin Bio Page Styling*/

#bioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bioItems {
    text-align: center;
    width: 450px;
    height: 450px;
    margin: 75px;
    border: black solid 1px;
    border-radius: 50%;
    background-color: #7DB390;
    color: black;
}

.bioInfoTitle {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    padding-top: 15px;
    color: white;
}

#backgroundText {
    width: 350px;
    padding-left: 50px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

.worksWithList {
    list-style: none;
    font-family: 'Crimson Text', serif;
    font-size: 35px;
}
.interestsList {
    list-style: none;
    font-family: 'Crimson Text', serif;
    font-size: 35px;
}


@media screen and (max-width: 600px) {
    
    nav {
        text-align: center;
    }

    img {
        height: 40%;
        width: 40%;
    }

    #hero {
        width: 300px;
        height: 80px;
        padding-bottom: 25px;
    }

    #headline {
        font-size: 25px;
    }

    #subtitle {
        font-size: 15px;
    }

    #menu {
        width: 300px;
        font-size: 10px;
        height: 80px;
    }

}

@media screen and (max-width: 1400px) {
    img {
        height: 40%;
        width: 40%;
    }
}